.Wrapper {
    width: 100%;

    display: flex;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.6);
    background-color: white;
    border-bottom: 1px solid plum;

}

.img_header {
    height: 90px;
    width: 130px;
    padding-left: 50px;
}

.form_input {
    font-size: 20px;
    height: 50px;
    width: 400px;
    border-radius: 30px;
    text-align: center;
}

.movie_b {
    font-size: 25px;
    padding-top: 25px;
    padding-left: 50px;
    font-weight: bold;
}
.ChangeTheme{
    width: 130px;
    height: 30px;
    margin-left: 50px;
    padding-top: 50px;
    border-radius: 20px;

}

.form_pos {
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 200px;
}
