.Footer{
    display: flex;
    position:relative;

}

.Footer-text{
    position:absolute;
    width: 1000px;
    font-size:50px;
    margin-left: 300px;
  top: 0px;
bottom: 40px;


}
.loader {
    border: 16px black; /* Light grey */
    border-top: 16px solid darkorchid; /* Blue */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 0.5s linear infinite;
    margin-left: 100px;
    margin-top: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}