.App{
    background-image: url("https://st.depositphotos.com/2371801/2999/i/950/depositphotos_29990939-stock-photo-watercolor-leaves-seamless-autumn-background.jpg");
}

body {
    height: 4200px;
    font-stretch: extra-expanded;
}